@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

//layout
$mobile-size: 375px;
$desktop-size: 1440px;

//colors
$primary-color1: hsl(158, 36%, 37%);
$primary-color2: hsl(30, 38%, 92%);

$neutral-color1: hsl(212, 21%, 14%);
$neutral-color2: hsl(228, 12%, 48%);


$neutral-color3: hsl(0, 0%, 100%);